<div style='width:1024px; height:auto; margin:0px auto; background-color:#66CCFF; font-size:14px; font-family:微软雅黑; border-radius:5px; padding:5px;'>
    <center><h3>Dear {{ nickname }},</h3></center>
    <div style='margin-left:20px;margin-bottom:10px;'>
        <b>
            欢迎加入<a href='https://www.lmaye.com/admin/login.html'>lmayZhou's Blog</a>, 你的登陆帐号为: {{ email }}, 初始密码为: {{ password }}。 请及时登陆后台修改密码。
        </b>
        <br/><br/>
        <b>lmay Zhou,</b><br/>
        <b>The <a href='https://www.lmaye.com'>lmayZhou's Blog</a> admin</b>
    </div>
</div>