<!DOCTYPE html>
<html>
<head>
    <!-- extend from header layout -->
    {% include "common/header.html" %}
</head>

<body class="gray-bg">
<div class="wrapper wrapper-content animated fadeInRight">
    <!-- Panel Other -->
    <div class="row">
        <div class="ibox float-e-margins">
            <div class="ibox-content">
                <form class="form-horizontal" id="commentForm">
                    {{ form.hidden_tag() }}
                    <input id="id" name="id" type="hidden" class="form-control" value="{{ role.id if role }}">
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Role Code：</label>
                        <div class="col-sm-8">
                            <input id="role_code" name="role_code" minlength="4" type="text" class="form-control" required="" aria-required="true" value="{{ role.role_code if role }}">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Role Name：</label>
                        <div class="col-sm-8">
                            <input id="role_name" name="role_name" minlength="2" type="text" class="form-control" required="" aria-required="true" value="{{ role.role_name if role }}">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Describe：</label>
                        <div class="col-sm-8">
                            <textarea id="describe" name="describe" class="form-control" required="" aria-required="true">{{ role.describe if role }}</textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-offset-3 col-sm-8">
                            <button id="btn-reset" type="button" class="btn btn-warning"><strong>Reset</strong></button>
                            <button type="submit" class="btn btn-primary"><strong>Submit</strong></button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- End Panel Other -->
</div>
</body>

<!-- extend from script layout -->
{% include "common/script.html" %}
<!-- 自定义js -->
<script src="/static/js/content.js?v=1.0.0"></script>
<!-- jQuery Validation plugin javascript-->
<script src="/static/plugins/validate/jquery.validate.min.js"></script>
<script src="/static/plugins/validate/messages_es.js"></script>
<!-- Blog -->
<script>
    var operation = "{{ operation if operation }}";
    var parent_code = "{{ role.parent_code if role }}";
</script>
<script src="/static/js/moment-with-locales.js"></script>
<script src="/static/js/security/role-edit.js"></script>
</html>