<!DOCTYPE html>
<html>
<head>
    <!-- extend from header layout -->
    {% include "common/header.html" %}
</head>

<body class="gray-bg">
<div class="wrapper wrapper-content animated fadeInRight">
    <!-- Panel Other -->
    <div class="row">
        <div class="ibox float-e-margins">
            <div class="ibox-content">
                <form class="form-horizontal" id="commentForm">
                    {{ form.hidden_tag() }}
                    <input id="id" name="id" type="hidden" class="form-control" value="{{ user_id if user_id }}">
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Old Password：</label>
                        <div class="col-sm-8">
                            <input id="old_password" name="old_password" minlength="8" type="password" class="form-control" required="" aria-required="true" value="">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">New Password：</label>
                        <div class="col-sm-8">
                            <input id="password" name="password" minlength="8" type="password" class="form-control" required="" aria-required="true" value="">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Confirm Password：</label>
                        <div class="col-sm-8">
                            <input id="confirm_password" name="confirm_password" minlength="8" type="password" class="form-control" required="" aria-required="true" value="">
                            <span class="help-block m-b-none"><i class="fa fa-info-circle"></i> 请再次输入你的密码</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-offset-3 col-sm-8">
                            <button id="btn-reset" type="button" class="btn btn-warning"><strong>Reset</strong></button>
                            <button type="submit" class="btn btn-primary"><strong>Submit</strong></button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- End Panel Other -->
</div>
</body>

<!-- extend from script layout -->
{% include "common/script.html" %}
<!-- 自定义js -->
<script src="/static/js/content.js?v=1.0.0"></script>
<!-- jQuery Validation plugin javascript-->
<script src="/static/plugins/validate/jquery.validate.min.js"></script>
<script src="/static/plugins/validate/messages_es.js"></script>
<!-- Blog -->
<script src="/static/js/moment-with-locales.js"></script>
<script src="/static/js/user/modify_password.js"></script>
</html>